/**
 * This injects Tailwind's base styles, which is a combination of
 * Normalize.css and some additional base styles.
 *
 * You can see the styles here:
 * https://github.com/tailwindcss/tailwindcss/blob/master/css/preflight.css
 *
 * If using `postcss-import`, use this import instead:
 *
 * @import "tailwindcss/preflight";
 */
@tailwind preflight;

/**
 * This injects any component classes registered by plugins.
 *
 * If using `postcss-import`, use this import instead:
 *
 * @import "tailwindcss/components";
 */
@tailwind components;

/**
 * Here you would add any of your custom component classes; stuff that you'd
 * want loaded *before* the utilities so that the utilities could still
 * override them.
 *
 * Example:
 *
 * .btn { ... }
 * .form-input { ... }
 *
 * Or if using a preprocessor or `postcss-import`:
 *
 * @import "components/buttons";
 * @import "components/forms";
 */

/**
 * This injects all of Tailwind's utility classes, generated based on your
 * config file.
 *
 * If using `postcss-import`, use this import instead:
 *
 * @import "tailwindcss/utilities";
 */
@tailwind utilities;

/**
 * Here you would add any custom utilities you need that don't come out of the
 * box with Tailwind.
 *
 * Example :
 *
 * .bg-pattern-graph-paper { ... }
 * .skew-45 { ... }
 *
 * Or if using a preprocessor or `postcss-import`:
 *
 * @import "utilities/background-patterns";
 * @import "utilities/skew-transforms";
 */



.card-top-purple {
  height: 150px;
  background-color: #43458B;
}

.card-top-yellow {
  height: 150px;
  background-color: #FDD994;
}

.card-top-blue {
  height: 150px;
  background-color: #C4F0FF;
}

.card-top-angle {
  position: relative;
  left: 0;
  top: 110px;
  height: 90px;
  background-color: white;
  transform: skewY(-10deg);
}

.logo {
  width: 50px;
  height: 50px;
  background-color: white;
  margin-top: -55px;
}

.logo-back {
  width: 50px;
  height: 50px;
  background-color: white;
}

.card {
  width: 300px;
}

.card-heading {
  position: relative;
  top: -80px;
}

.card-text {
  position: relative;
  top: -80px;
}

.card-action {
  position: relative;
  top: -60px;
}

.strengths-background {
  transform: skewY(-10deg);
  background: linear-gradient(#43458B,#7795F8 60%);
}

.strengths-content {
  transform: skewY(10deg);
}

label {
  perspective: 1000px;
  -webkit-perspective: 1000px;
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  display: block;
  width: 300px;
  height: 430px;
  cursor: pointer;
}

input {
  display: none;
}


.card-2 {
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  transition: all 600ms;
  -webkit-transition: all 600ms;
  z-index: 20;
  width: 100%;
  height: 100%;
}

.card-2 .card-div {
  position: absolute;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  width: 100%;
  height: 100%;
}

.card-2 .card-back {
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}

.card-2 .card-front {
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}

:checked + .card-2 {
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
}

:checked + .logo {
  opacity: 0;
}

